<form #userForm="ngForm">
  <mat-card role="region">
    <mat-card-title>Sign Up</mat-card-title>
    <mat-card-content>
      <p>
      <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
        <input matInput placeholder="email" [(ngModel)]="users.email" name="email">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="password" [(ngModel)]="users.password" name="password">
        </mat-form-field>
    </p>
    <p>
        <a [routerLink]="['/signin']">Sign In</a>
    </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="createUser(users)">Sign Up</button>
      <button mat-raised-button color="warn" type="reset">Reset</button>
    </mat-card-actions>
  </mat-card>
</form>
